<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Welcome page</title>
    <link rel="stylesheet" href="home-page.css">
</head>
<body>
    <h1 class="main-heading">Welcome to CRUD Web-Application</h1>
    <button type="button" id="main-button" th:onclick="openMainPage()">Manage Products</button>
    <button class="logout-button" type="button" th:onclick="logout()">Logout</button>
    <button class="UserButton" type="button" th:onclick="userDetails()">User Details</button>
    
    <img class="second-image" th:src="background.jpg" >
    <script type="text/javascript" th:src="@{/myscript.js}"></script>
</body>
</html>